@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@500&family=Tajawal&display=swap');
* {
  text-align: center;
  justify-content: center;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

table {
  border: 2px solid #000;
}

.quran-header {
  font-size: 2.7rem;
  color: white;
  font-weight: 900;
  letter-spacing: 1.3px;
}

.container {
  padding: 1rem;
  background: rgb(0, 35, 30);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

select {
  padding: .6rem .6rem;
  margin-left: 1rem;
  border-radius: 10px;
  border: none;
  -webkit-appearance: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  background: rgba(210,210,210, .1);
  color: white;
}

select:hover {
  background: rgba(10, 200, 10, .4);
}

label {
  font-size: 1rem;
  text-transform: uppercase;
}

ul button {
  margin: .3rem .4rem;
  padding: 1rem;
  width: 145px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  background: rgba(210,210,210, .1);
  color: white;
}

ul button:hover {
  background: rgba(10, 200, 10, .4);
  font-weight: 900;
  cursor: pointer;
}

.ayat-text {
  padding: 1rem .5rem;
  margin: 1rem .5rem;
  font-size: 1.4rem;
  background: rgba(210,210,210, .1);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.ayat-text:hover {
  background: rgba(10, 200, 10, .4);
  font-weight: 900;
}


.play-btn {
  margin: .3rem;
  padding: .2rem .6rem;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  background: rgba(210,210,210, .3);
  color: white;
}
.play-btn2 {
  margin-right: 1.2rem;
}

.play-btn:hover {
  background: rgba(210,210,210, .7);
  cursor: pointer;
}


.pages-container {
  /* display: block; */
  padding: 5rem;
  background: rgba(210,210,210, .7);
  max-width: 85%;
  margin: auto 3rem;
}

img {
  width: 100%;
}
.btns button {
  margin: 1rem;
  font-size: 1.5rem;
  border: none;
  background: transparent;
}

.btns button:hover {
  cursor: pointer;
  color: green;
}

.page-num {
  font-size: 1.5rem;
}